body    {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.fw-600 {
    font-weight: 600;
}

.btn-orange {
    background-color: #FD6F00;
    border-radius: 5px;
    border: 1px solid #FD6F00;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
}

.btn-orange:hover {
    background-color: transparent;
    color: #FD6F00;
    border: 1px solid #FD6F00;
}

.section-title {
    font-size: 55px;
    font-weight: 600;
}

section {
    padding: 80px 0;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    visibility: hidden;
}

.reveal.reveal-up {
    transform: translateY(60px);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.hero-text,
.hero-image {
    transition: transform 0.4s ease-out;
}

.service-card {
    border-radius: 14px;
    background-color: #F8F8F8;
    padding: 57px 18px 10px 18px;
    margin-bottom: 20px;
}

.service-card img {
    max-width: 70px;
}

.service-card h5 {
    font-size: 32px;
}

.service-card p {
    font-size: 19px;
}

.img-fluid {
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .section-title {
        font-size: 40px;
    }

    h1 {
        font-size: 60px !important;
    }

    .reveal {
        transform: translateY(25px);
    }

    .reveal.active {
        transform: translateY(0);
    }

    .btn-orange {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    section {
        padding: 40px 0;
    }

    .service-card {
        padding: 30px 10px 10px 10px;
        margin-bottom: 20px;
    }

    .service-card h5 {
        font-size: 24px;
    }

    .service-card p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 28px;
        margin-top: 20px;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 30px !important;
    }

    h6 {
        font-size: 20px;
    }

    .btn-orange {
        padding: 0.4rem 0.8rem;
        font-size: 12px;
    }

    section {
        padding: 30px 0;
    }

    .service-card {
        padding: 20px 5px 5px 5px;
    }

    .service-card h5 {
        font-size: 20px;
    }

    .service-card p {
        font-size: 14px;
    }

    .fw-600 {
        font-weight: 500;
        font-size: 18px;
    }



}

.custom-footer {
    background: #31302f;
}

.custom-footer a {
    color: #ffffff;
}
